$accentColor = #b27ee2
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

header-bgcolor = #b27ee2
header-color = white

.navbar
  background-color header-bgcolor
  color header-color

.navbar .site-name
  color header-color